*{
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
}
header, footer {
    border: 5px solid red;
    max-width: 100%;
    background-color: orange;
}
body{
    background-color: green;
}
/*Header*/
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header ul {
    list-style-type: none;
    flex-wrap: wrap;
    margin-left: 25px;
}
.header ul li{
    margin-top: 20px;
    margin-left: 25px;
    display: inline-block;
}
.aboutme {
    margin: 25px;
    display: inline-block;
}
.aboutme p {
    position: absolute;
    left: 100px;
    display: inline-block;
    border: 5px solid pink;
}
/*Navbar*/
main {
    border: 5px solid blue;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
.work-grid{
    border: 5px solid orange;
    width: 100%;
    flex-wrap: wrap;
}
.work-grid img {
    max-width: 100%;
}
.grid-container h4{
    position: absolute;
    left: 50px;
    bottom: 50px;
}
.contact-list{
    list-style-type: none;
    text-align: center;
}
.contact-list-item{
    display: inline-block;
    margin-left: 25px;
}

figure{
    border: 5px solid purple;
}

footer h4{
    text-align: center;
}
@media screen and (max-width: 375px) {
    header, footer, nav, main{
        flex-direction: column;
        text-align: center;
    }
    .header ul {
        width: 100%;
    }
    .header ul li {
        text-align: center;
    }
}