*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
}
:root{
    --main: rgb(255, 102, 0);
    --second: rgb(247, 120, 1);
}
header{
    height: 100px;
    width: 100%;
    background-color: var(--main);
}
footer{
    height: 100px;
    width: 100%;
    float: left;
    background-color: var(--main);
}
body{
    background-color: var(--second);
}
ul li a {
    text-decoration: underline;
    color: black;
}
/*Header*/
.header{
    padding-bottom: 25px;
}
.header h1{
    margin-left: 25px;
    font-size: xx-large;
    float: left;
    padding-top: 10px;
}
.header ul {
    list-style-type: none;
    flex-wrap: wrap;
    margin-left: 25px;
    margin-right: 50px;
    float: right;
}
.header ul li{
    margin-top: 20px;
    margin-left: 25px;
    display: inline-block;
}
/*Banner*/
.heading h3{
    background-color: whitesmoke;
    width: 30%;
    position: relative;
    bottom: 100px;
    float: right;
    padding-left: 20px;
    font-size: larger;
}
/*Main begins here*/
main {
    width: 100%;
}
.title{
    width: 30%;
    text-align: right;
    padding-right: 50px;
    font-size: x-large;
    border-right: 5px solid black;
}
/*About me*/
.aboutme{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.aboutme h2{
    width: 30%;
    border-right: 5px solid black;
}
.aboutme p{
   width: 70%;
}
.separate{
    height: 50px;
    width: 100%;
}
.work{
   width: 100%;
}
.work h2{
    position: relative;
    top: 52px;
}
.work h4, p{
    margin-left: 5px;
    color: black;
}
.work-main{
    width: 70%;
    height: 426px;
    float: right;
    opacity: 1;
    border-radius: 5px;
    border-spacing: 2px;
}
#workmain{
    background-color: white;
}
.work-main img{
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.work-main img:hover{
    transition: 0.5s;
    opacity: 1;
}

.gridcontainer{
    float: right;
    display: inline;
    width: 70%
}
.container{
    background-color: white;
    width: 30%;
    max-width: 100%;
    position: relative;
    bottom: 175px;
}
.container2{
    background-color: white;
    width: 70%;
    position: relative;
    bottom: 180px;
}
.work-grid{
    width: 50%;
    height: 300px;
    float: right;
    background-color: white;
    margin-top: 5px;
    border-radius: 5px;
}
.work-grid img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.work-grid img:hover{
    transition: 0.5s;
    opacity: 1;
}
.contact{
    width: 100%;
    float: left;
    margin-top: 50px;
}
.contact h2{
    top: 52px;
    border-right: 5px solid black;
}
.contact-list{
    list-style-type: none;
    text-decoration-style: underline;
    text-align: center;
    margin-bottom: 20px;
}
.contact-list-item{
    margin-left: 25px;
    line-height: 2;
    font-size: 20px;
}

/*footer*/
footer h4{
    margin-top: 20px;
    text-align: center;
}

@media screen and (max-width: 762px) {
    header, main, footer {
        direction: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
    }

    header{
        flex-direction: column;
        text-align: center;
    }

    header h1 ul {
        display:flex;
    }

    .heading{
        height: 150px;
    }

    .heading img{
        height: 150px;
    }

    .heading h3{
        width: 100%;
        text-align: center;
    }
    main h2 {
        float: center;
        margin-top: 27px;
    }
    .aboutme {
        align-items: center;
        flex-direction: column;
        width: 100%;
     }
     .aboutme h2{
         width: 100%;
         text-align: left;
         padding-left: 20px;
         border-bottom: 2.5px solid black;
         border-right: 0px;
     }
     .aboutme p{
         width: 100%;
         padding-left: 20px;
         padding-right: 20px;
         text-align: left;
     }
    .work{
        align-items: center;
    }

    .work h2{
        position: relative;
        top: 0;
    }
    .title{
        text-align: left;
        align-items: center;
        padding-left: 20px;
        border-right: none;
        border-bottom: 2.5px solid black;
        width: 100%;
    }
    #workmain{
        height: 200px;
    }
    .work-main{
        width: 100%;
        height: auto;
        margin-bottom: 15px;
        border: none;
    }
    .work-main img {
        height: 200px;
    }

    .gridcontainer{
        width: 100%;
        height: auto;
        padding-bottom: 10px;
    }
    
    .work-grid {
        height: 200px;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
    }
    .work-grid img{
        height: 200px;
    }
      
    .separate{
       width: 100%;
       height: 10px;
    }
    .contact{
        width: 100%;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .contact h2{
        align-items: center;
        border-right: 0px;
        top: 1px;
    }
    .container{
        width: 40%;
        bottom: 130px;
    }
    .container2{
        bottom: 139px;
        width: 100%;
    }
}
@media screen and (max-width: 375px) {
    header, footer, main{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .header ul {
        list-style: initial;
        margin: none;
        margin-bottom: 15px;
        padding: none;
        float: center;
    }
    .aboutme{
        margin-top: -50px;
    }
    .aboutme h2{
        flex-direction: column;
        text-align: center;
    }
    .work h2{
        margin-top: 5px;
        flex-direction: column;
        text-align: center;
    }
    .work-main{
        width: 100%;
        height: 190px;
        margin-bottom: 20px;
     }
    .work-main .container{
         width: 100%;
     }
    .work-grid{
        width: 100%;
        height: 190px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .work-grid .container2{
        width: 100%;
    }
    .work-grid img{
        height: 190px;
    }
    
    .contact h2{
        flex-direction: column;
        text-align: center;
    }
    .title{
        justify-content: center;
    }
}