*{
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
}
header{
    border: 5px solid red;
    height: 100px;
    width: 100%;
    background-color: orange;
}
footer{
    height: 100px;
    width: 100%;
    border: 5px solid black;
    float: left;
    background-color: orange;
}
body{
    background-color: green;
}
ul li a {
    text-decoration: none;
    color: black;
}
/*Header*/
.header{
    padding-bottom: 25px;
}
.header h1{
    margin-left: 25px;
    font-size: xx-large;
    float: left;
}
.header ul {
    list-style-type: none;
    flex-wrap: wrap;
    margin-left: 25px;
    margin-right: 50px;
    float: right;
}
.header ul li{
    margin-top: 20px;
    margin-left: 25px;
    display: inline-block;
}
.heading h3{
    background-color: whitesmoke;
    width: 30%;
    position: relative;
    bottom: 100px;
    float: right;
    padding-left: 20px;
    font-size: larger;
}
/*About me*/
.aboutme{
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    width: 100%;
}
.aboutme h2{
    display: inline;
    width: 30%;
}
.aboutme p{
    display: inline;
    width: 70%;
}
/*Main*/
main {
    border: 5px solid blue;
    width: 100%;
}
#separate{
    height: 50px;
    width: 100%;
}
.work{
    /* float: right; 
    margin-top: 50px; */
    /* background-color: green; */
}
.work-main{
    border: 5px solid purple;
    width: 70%;
    height: 426px;
    float: right;
    opacity: 1;
    border-radius: 5px;
}
#workmain{
    background-color: white;
}
.work-main img{
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.work-main img:hover{
    transition: 0.5s;
    opacity: 1;
}

.gridcontainer{
    float: right;
    display: inline;
    width: 70%
}
.work-grid{
    border: 5px solid orange;
    width: 50%;
    height: 300px;
    float: right;
    background-color: white;
}
.work h4, p{
    margin-left: 5px;
}
.work-grid img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.work-grid img:hover{
    transition: 0.5s;
    opacity: 1;
}
.contact{
    width: 100%;
    float: left;
    margin-top: 50px;
    border: 5px solid black;
}
.title{
    width: 30%;
    border: 5px solid pink;
    text-align: right;
    padding-right: 50px;
    font-size: x-large;
}
.contact-list{
    list-style-type: none;
    text-decoration-style: none;
    text-align: center;
    margin-bottom: 20px;
}
.contact-list-item{
    margin-left: 25px;
    line-height: 2;
    font-size: 20px;
}

footer h4{
    margin-top: 20px;
    text-align: center;
}
.container{
    background-color: white;
    width: 30%;
    position: relative;
    bottom: 100px;
}
.container2{
    background-color: white;
    width: 70%;
    position: relative;
    bottom: 100px;
}
@media screen and (max-width: 762px) {
    header, main, footer {
        direction: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
    }
    header{
        text-align: center;
    }
    header h1 ul {
        display: inline;
    }
    .heading{
        height: 150px;
    }
    .heading h3{
        width: 100%;
        text-align: center;
    }
    .work{
        align-items: center;
    }
    .work-main{
        width: 100%;
        height: auto;
    }
    .gridcontainer{
        width: 100%;
        height: auto;
    }
    .title{
        text-align: center;
        justify-content: center;
        align-items: center;
        padding-right: 0;
        width: 100%
    }
    .work-main img {
        height: 200px;
    }
    .work-grid {
        height: 200px;
    }
    .work-grid img{
        height: 200px;
    }
    #workmain{
        height: 200px;
    }
    main h2 {
        float: center;
        margin-top: 100px;
    }
    .aboutme {
       align-items: center;
       height: 250px;
       width: 100%;
    }
    .aboutme h2{
        width: 100%;
        text-align: center;
    }
    .aboutme p{
        width: 100%;
        text-align: center;
    }
    #separate{
        height: 100px;
        margin-bottom: 100px;
        width: 100%;
    }
    .contact{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .contact h2{
        align-items: center;
    }
}